
<h1 class="display-6">
  Articles
</h1>

<div class="card shadow mb-4 mt-5">
  <div class="card-body">
    <table class="table table-sm table-hover">
      <thead class="lead fw-bolder">
      <tr>
        <th scope="col">Article Name</th>
        <th scope="col">Likes</th>
        <th scope="col">Date Created</th>
        <th scope="col">Like?</th>
      </tr>
      </thead>
      <tbody class="lead">
      <% @articles.zip(@local_articles).each do |(article, local_article)| %>
        <tr>
          <td><%= link_to(article['title'], article_path(id: article['id'])) %></td>
          <td><%= local_article.like_count + article['reactions']['likes'].to_i %></td>
          <td><%= article['created_at'].to_datetime.strftime('%a, %d %b %Y %H:%M:%S') %></td>
          <td>
            <% if user_signed_in? %>
              <% if local_article.liked?(current_user) %>
                <%= button_to ' Liked', {}, disabled: true, class: "btn btn-secondary bi bi-hand-thumbs-up" %>
              <% else %>
                <%= button_to ' Like', like_path(local_article), method: :put,
                              params: { article: { article_unique_id: local_article.article_unique_id,
                                                   like_count: local_article.like_count + 1, redirection: 'index'} },
                              class: "btn btn-success bi bi-hand-thumbs-up" %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
